@import "tailwindcss";

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	--primary-color: #001d3f;
}

@font-face {
	font-family: "Mileast";
	src: url("./assets/Mileast.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}

body {
	overflow-y: hidden;
}

h1 {
	font-size: 32px;
	font-weight: bolder;
}

h2 {
	font-size: 24px;
	font-weight: bold;
}

/*gradient is copied from figma*/
.login-gradient {
	background: linear-gradient(90deg, #7d76ff 0%, #67b0ff 100%);
}

.navbar-gradient {
	background: linear-gradient(90deg, #d6d4ff 0%, #c9e3ff 100%);
}

.content-gradient {
	background: linear-gradient(178.02deg, #f4faff 2.73%, #e2e5ff 98.19%);
}

.card-gradient {
	background: linear-gradient(1.76deg, #cfe0ff 1.5%, #f3f3ff 98.58%);
	background-color: #e0e1e3;
}

@theme {
	--color-primary: #001d3f;
	--color-btn: #6e82ff;
	--color-btn-hover: #24307e;
	--color-border: #e0e1e3;
	--color-content: #ecedef;
}
